<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - proyectoNet Sonar way" ToolsVersion="14.0">
  <Include Path="..\sonarqube\net10csharp.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1002" Action="Warning" />
  </Rules>
</RuleSet>